.modal-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    z-index: 2;
}

.header {
    text-align: center;
    margin: auto;
    width: 90%;
    max-height: 90%;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.header-two {
    display: flex;
    justify-content: space-between;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1rem;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

input {
    margin: .5rem 0;
    padding: .5rem;
    border-radius: 5px;
}

.btn-add {
    margin-top: 1rem;
    padding: .5rem;
}

@media only screen and (min-width: 1024px) {

    .header {
        width: 50vw;
    }
/* 
    form {
        width: 50vw;
    } */
  }