ul {
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    margin: .5rem auto;
    padding: .5rem;
    border: 1px solid darkslategray;
    box-shadow: 0 1px 5px darkgrey;
}

.col-1 {
    flex-basis: 40%;
}

.col-3, .col-4 {
    flex-basis: 10%;
    text-align: center;
}

.col-2, .col-5 {
    flex-basis: 20%;
}

.col-5 {
    text-align: center;
}

button {
    background: none;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.fa-trash {
    font-size: 1rem;
}

@media only screen and (min-width: 1024px) {
    ul {
        max-width: 75vw;
    }
  }